* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgb(100, 0, 0);
}

img {
    width: 100%;
    height: auto;
}


header {
    height: 100px;
    background-color: rgb(44, 0, 4);
}

header h1 {
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 700;
    text-shadow: 0px 0px 30px #ff0000;
}

/*Martin*/
nav {
    background-color: goldenrod;
    height: 3rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    width: 100%;
    height: 100%;
    font-weight: 600;
}

nav>ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: .1rem;
    list-style-type: none;
    position: relative;
    align-items: center;
    justify-content: space-evenly;

}

nav ul li {
    height: 3rem;
}

nav ul li ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    list-style-type: none;
}

nav ul li ul li {
    background-color: red;
    height: 0;
    transition: height .3s;
}

nav ul li ul li a {
    display: none;
}

nav ul li:hover ul li a {
    display: inline-block;
}

nav ul li:hover ul li {
    height: 3rem;
}

/*Bence*/
nav ul li ul li:hover,
.li:hover {
    background-color: darkgoldenrod;
    transition: .3s;
}

.li {
    transition: .2s;
}

#form {
    transition: .3s;
    background-color: darkred;
}

#form:hover {
    background-color: darkgoldenrod;
    color: red;
}

.video-container .col {
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cont h1 {
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 700;
    text-shadow: 0px 0px 30px #ff0000;
}

main {
    width: 90%;
    margin: 0 auto;
}

.card {
    margin-bottom: 2rem;
}

.card-img-top {
    transition: .3s;
}

.card-img-top:hover {
    scale: 1.01;
    transition: 0.3s;
}

form {
    color: #fff;
    margin-bottom: 20px;
}



input {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 1rem;
    height: 7rem;
    background-color: rgb(191, 179, 88);
}

footer p {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: #000000;
    transition: .5s;
    font-weight: bolder;
    letter-spacing: 1.5;
    font-size: 1.5rem;
}

footer a:hover {
    font-size: 1.6rem;
    transition: .5s;
}

@media (max-width: 1000px) {
    nav {
        display: none;
    }
}

